body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vmin;
  width: 80%;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#typing-text {
  width: 50%;
}

.keyboard {
  width: 80%;
  aspect-ratio: 3;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 2vmin;
}

.row {
  display: flex;
}

.key {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.small-key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7%;
}

#delete,
#tab {
  width: 12%;
}

#caps-lock,
#return {
  width: 14%;
}

#left-shift,
#right-shift {
  width: 16%;
}

#control,
#option {
  width: 14%;
}

#space {
  width: 40%;
}

#empty-key {
  width: 18%;
}

.validKey {
  background-color: #d3e6fb;
  color: #004f80;
}

.invalidKey {
  background-color: #ffc0cb;
  color: #8b0000;
}
